<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@RodolfoCruzTI - Calculadora de Custos de Transporte</title>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"   
    	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
    	rel="stylesheet" media="screen" />
    	
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    	
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
            
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Calculadora de Custos de Transporte</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${parametrosDeCalculo}" th:action="@{/calculadora/calcular}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${not #strings.isEmpty(erro)}">
                               	<span th:text="${erro}"></span>
                            </div>
                            <div class="alert alert-success" th:if="${not #strings.isEmpty(sucesso)}">
                            	<span th:text="${sucesso}"></span>
                            </div>
                        </div>                                        
                        <div class="form-group row">                                                          
                            <div class="col-md-4">
                                <label>Toneladas</label>
                                <input type="number" class="form-control input-sm" th:field="*{toneladas}" autofocus="autofocus" placeholder="Informe as toneladas" maxlength="4" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4" >
                                <label>Tipo de Veículo</label>
                                <select class="form-control" id="product" th:field="*{veiculo.id}" required="required">
                                	<option value="">-- Selecione --</option>					                
					                <option th:each="v : ${veiculos}" th:value="${v.id}"  th:text="${v.nome}"></option>
					            </select>
					            <span class="help-inline" th:errors="*{veiculo.id}"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-4">
                                <label>KM's Pavimentados</label>
                                <input type="number" class="form-control input-sm" th:field="*{distanciaPavimentada.quantidadeDeQuilometros}" autofocus="autofocus" placeholder="Informe a quilometragem não pavimentada" maxlength="4" step="0.01"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-4">
                                <label>KM's Não Pavimentados</label>
                                <input type="number" class="form-control input-sm" th:field="*{distanciaNaoPavimentada.quantidadeDeQuilometros}" autofocus="autofocus" placeholder="Informe a quilometragem não pavimentada" maxlength="4" step="0.01"/>
                            </div>
                        </div>
                                              
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Calcular</button>
                    <a th:href="@{/calculadora}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>